        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            border: 50px;
            border-color: #ffffff;
        }

        #section-1 {
            background-color: transparent
        }
        
        .menubtn {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;
            cursor: pointer;
            transition: all .5s ease-in-out;
            border: 3px solid transparent;
        }
        
        .menubtnburger {
            width: 50px;
            height: 6px;
            background: rgb(255, 255, 255);
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }
        
        .menubtnburger::before,
        .menubtnburger::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 6px;
            background: rgb(255, 255, 255);
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }
        
        .menubtnburger::before {
            transform: translateY(-16px);
        }
        
        .menubtnburger::after {
            transform: translateY(16px);
        }
        
        .menubtn.open .menubtnburger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }
        
        .menubtn.open .menubtnburger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        
        .menubtn.open .menubtnburger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
        
        a#scroll_btn {
            position: absolute;
            height: 44px;
            width: 26px;
            border: 2px solid white;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 10px;
            border-radius: 3em;
            position: absolute;
         
            position: fixed;
        }
        
        a#scroll_btn:before {
            position: absolute;
            content: "";
            margin: auto;
            left: 0;
            top: 6px;
            right: 0;
            height: 5px;
            width: 5px;
            background-color: white;
            border-radius: 50%;
            animation: move-down 2s infinite;
        }
        
        @keyframes move-down {
            80% {
                opacity: 0.5;
            }
            100% {
                transform: translateY(7px);
                opacity: 0;
            }
        }
        
        a#scroll_btn:after {
            position: absolute;
            margin-bottom: 2px;
            content: "SCROLL DOWN";
            width: 12em;
            display: block;
            width: 12em;
            text-align: center;
            left: -5.5em;
            bottom: 5px;
            font-size: 12px;
            color: white;
            letter-spacing: 3px;
            font-weight: 600;
        }
        
        .leftside,
        .rightside {
            height: 100vh;
            width: 100%;
        }
        
        .leftside {
            background: red;
        }
        
        .rightside {
            background: blue;
        }
        
        @media screen and (max-width: 500px) {
            a#scroll_btn {
                font-size: 12px;
            }
        }
        
        body {
            margin: 1em;
        }
        
        .menubtn {
            position: absolute;
            z-index: 9999;
            top: 60px;
            left: 1400px;
            
        }
        
        .pp {
            position: absolute;
            z-index: 9999;
            top: 45px;
            left: 450px;
            font-size: 15px;
        }
        
        nav.pp ul li.ll {
            list-style-type: none;
            display: contents;
            margin-left: 100px;
            padding-top: 30px;
        }
        
        nav.pp ul li.ll a {
            color: #eeee;
            text-decoration: none;
            padding: 20px;
        }
        
        nav.pp ul li.ll:hover a {
            text-decoration: underline;
            transition: 3s all;
        }
        
        nav.pp {
            margin-top: 15px;
            padding-left: 20dpx;
            position: fixed;
        }
        
        nav {
            background-color: transparent;
            position: fixed;
        }
        
        video {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100%;
            height: 135%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .vd2 {
            position: absolute;
            top: 920px;
            left: 10px;
            width: 100%;
            height: 125%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .vd3 {
            position: absolute;
            top: 1900px;
            left: 10px;
            width: 100%;
            height: 115%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .vd5 {
            position: absolute;
            top: 2900px;
            left: 10px;
            width: 100%;
            height: 125%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .vd6 {
            position: absolute;
            top: 4000px;
            left: 10px;
            width: 100%;
            height: 125%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .vd7 {
            position: absolute;
            top: 3750px;
            left: 10px;
            width: 100%;
            height: 95%;
            object-fit: cover;
            bottom: 10px;
            right: 10px;
        }
        
        .col1 {
            top: 9px;
            left: 10px;
            width: 450px;
            height: 730px;
            float: left;
            background-color: rgb(212, 47, 18);
            border-bottom: solid 8px #320d7f;
            color: #320d7f;
            position: absolute;
            z-index: 9999;
            right: 10px;
        }
        
        .parag2 {
            width: 450px;
            height: 750px;
            top: 750px;
            left: 10px;
            float: left;
            background-color: yellow;
            border-bottom: solid 8px purple;
            color: purple;
            position: absolute;
            z-index: 9999;
            right: 10px;
        }
        
        .parag3 {
            width: 450px;
            height: 750px;
            top: 1510px;
            left: 10px;
            float: left;
            background-color: aqua;
            border-bottom: solid 8px purple;
            color: purple;
            position: absolute;
            z-index: 9999;
            right: 10px;
        }
        
        .parag4 {
            width: 450px;
            height: 750px;
            top: 2250px;
            left: 10px;
            float: left;
            background-color: purple;
            border-bottom: solid 8px blue;
            color: blue;
            position: absolute;
            z-index: 9999;
            right: 10px;
        }
        
        .parag5 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: #4268ce;
            border-bottom: solid 8px blue;
            color: #6695d6;
            position: absolute;
            z-index: 9999;
            right: 10px;
            width: 450px;
            height: 750px;
            top: 3000px;
            left: 10px;
        }
        
        .parag6 {
            width: 450px;
            height: 750px;
            top: 3760px;
            left: 10px;
            float: left;
            background-color: tomato;
            border-bottom: solid 8px purple;
            color: purple;
            position: absolute;
            z-index: 9999;
            right: 10px;
        }
        
        header .logo {
            top: 30px;
            left: 30px;
        }
        
        .col1 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: tomato;
            border-bottom: solid 8px purple;
            color: purple;
        }
        
        .parag2 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: yellow;
            border-bottom: solid 8px purple;
            color: purple;
        }
        
        .parag3 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: aqua;
            border-bottom: solid 8px purple;
            color: purple;
        }
        
        .parag4 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: purple;
            border-bottom: solid 8px blue;
            color: blue;
        }
        
        .parag5 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: #4268ce;
            border-bottom: solid 8px blue;
            color: #6695d6;
        }
        
        .parag6 {
            width: 250px;
            height: 450px;
            float: left;
            background-color: tomato;
            border-bottom: solid 8px purple;
            color: purple;
        }
        
        #contrainer7 {
            width: 1000px;
            margin: 0 auto;
        }
        
        
        .col7 {
            width: 50%;
            height: 900px;
            float: left;
            background-color: white;
            text-align: center;
            padding-top: 400px;
            font-size: 115px;
            color: #404BA4;
       
           
            
        }
        
        .paragrap7 {
            border: 10px solid #404BA4;
        }
        
        .col7:hover {
            background-color: #404BA4;
            color: white;
        }
        
        .paragrap7:hover {
            border: 6px solid white;
            border-radius: 50% 50%;
        }
        
        .paragrap7:hover:hover {
            color: #404BA4;
            background-color: white;
            border: 6px solid #404BA4;
        }
        
        .col72 {
            width: 50%;
            height: 900px;
            float: left;
            background-color: white;
            text-align: center;
            padding-top: 400px;
            font-size: 115px;
            color: #404BA4;
            padding-left: 50px;
        }
        
        .paragrap8 {
            border: 10px solid #404BA4;
        }
        
        .col72:hover {
            background-color: #404BA4;
            color: white;
        }
        
        .paragrap8:hover {
            border: 6px solid white;
        }
        
        .paragrap8:hover:hover {
            color: #404BA4;
            background-color: white;
            border: 6px solid #404BA4;
            border-radius: 50% 50%;
        }
        
        .bor {
            width: 850px;
            height: 350px;
            position: absolute;
            top: 35%;
            border: 12px solid blue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            padding-top: 140px;
            color: white;
            padding-left: 90px;
            padding-bottom: 80px;
            font-size: 40px;
            left: 25%;
        }
        .reso{
            height: 100vh;
            background-size: cover;
            background-position: center;
        }

        .pulse {
            position: relative;
            background-color: gray;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            align-items: center;
        }
        
        .pulse :hover {
            background-color: blue;
            
        }
        
        .ring {
            position: absolute;
            background-color: inherit;
            width: 100%;
            height: 100%;
            opacity: 0.8s;
            border-radius: 100%;
            animation: pulsing 4s ease-out infinite;
            
        }
        
        .ring:nth-of-type(1) {
            animation-delay: -1s;
        }
        
        .ring:nth-of-type(2) {
            animation-delay: -2s;
        }
        
        .ring:nth-of-type(3) {
            animation-delay: -3s;
        }
        
        @keyframes pulsing {
            100% {
                transform: scale(2);
                opacity: 0;
            }
        }
        
        .img {
            height: 200px;
            position: relative;
            margin-left: auto;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 9999;
            position: fixed;
            top: 90px;
            padding-left: 1680px;
        }
        .page1 {
            background-color: transparent;
            top: 85%;
            width: 20%;
            color: white;
            font-size: 15px;
            position: absolute;
        }     